extends ../layout

block content
  div.delete
    h2 Are you sure you want to delete #{member.firstname} #{member.lastname}
      | ?
    form(action="/members/" + member.id + "/delete", method="post", class="form--delete")
      a(href="/members/" + member.id) No! Take me back! 
      | 
      input(type="submit", value = "Yes, I'm sure")