input(type="text", name="firstname", placeholder="First Name" value=member.firstname)
input(type="text", name="lastname", placeholder="Last Name" value=member.lastname)
input(type="date" name="birthday" placeholder="Birthdate" value=member.birthday)
input(type="text" name="role" placeholder="Parent or Child" value=member.role)
input(type="submit", class="btn--submit")