doctype html
html(lang="en")
  head
    title The Slucher Family Tree
    link(rel='shortcut icon', href='../images/favicon.png', type='image/x-icon')
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='https://use.typekit.net/pjj8euu.css')
  body
    header
            h1 The Slucher Family Tree
    block content