doctype html
html(lang="en")
  head
    title The Slucher Family Tree
  body
    header
        h1 The Slucher Family Tree
    section#content
        h2= name
        if birthday
            p Birthday: #{birthday}