doctype html
html
  head
    title The Slucher Family Tree
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')
    link(rel='stylesheet', href='https://use.typekit.net/pjj8euu.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
     h1 The Slucher Family Tree
     a(href="/members/new", class="btn--submit")
      svg(xmlns='http://www.w3.org/2000/svg' width='37.818' height='37.818' viewbox='0 0 37.818 37.818')
        g#Group_2(data-name='Group 2' transform='translate(707.631 -36.952) rotate(135)')
            line#Line_4(data-name='Line 4' x1='23' y2='22' transform='translate(515 436.5)' fill='none' stroke='#e5ead6' stroke-linecap='round' stroke-width='3')
            line#Line_5(data-name='Line 5' x2='21.5' y2='22' transform='translate(515.75 436.5)' fill='none' stroke='#e5ead6' stroke-linecap='round' stroke-width='3')

    div.container
      block content
