extends layout.pug

block content
  h2 #{member.firstname} #{member.lastname}
  p= member.birthday
  p #{member.role} to (list children here)
  a(href="../") &larr; Back 
  | | 
  a(href="/member/" + member.id + "/edit") Edit Article 
  | | 
  a(href="/member/" + member.id + "/delete") Delete Article